<div class="box">
 <h1><%= invoices_title %></h1>
  <ol class="breadcrumb">
    <li>Invoice</li>
    <li><%= link_to 'Index', root_path %></li>
  </ol>
  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
        <tr >
          <th>Invoice</th>
          <th>issue date</th>
          <th>due date</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <% @invoices.each do |invoice| %>
        <%= render invoice %>
      <% end %>
    </table>
  </div>
</div>

<div class="smallbox">
  <div class="center">
    <div class="btn-group">
      <%= link_to "Add new invoice", new_customer_invoice_path(@customer), :class => "btn btn-primary btn-lg" if @customer %>
    </div>
  </div>
</div>


