<div class="container">
  <h1>Add new invoice</h1>
  <ol class="breadcrumb">
    <li><%= link_to 'Customer', customers_path %></li>
    <li><%= link_to @customer.firstname , customer_path(@customer.id) %></li>
    <li class="active">New</li>
  </ol>
  <%= render "form" %>
  <br />
  <div class="row">
      <h4 align="center"><%= link_to 'Back to index', customer_path(@customer.id) %></h4>
    </div>
  <br /><br />
</div>
