<div class="container">
  <h1>Edit customer information</h1>
  <ol class="breadcrumb">
    <li><%= link_to 'Customer', customers_path %></li>
    <li><%= link_to 'Index', customers_path %></li>
    <li><%= link_to 'Details', customer_path(@customer.id) %></li>
    <li class="active">Edit</li>
  </ol>
  <%= render 'form' %>
</div>