<div class="smallbox">
  <div class="row">
    <div class="col-md-8" >
      <h2 class="aqua">Customer List</h2>
    </div>
    <div class="col-md-4 right">
    <%= link_to new_customer_path, remote: true do %>
      <h2 class="aqua"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add</h2>
    <% end %>
    </div>

  </div>
  <%= content_tag :div, id: 'customers', class: 'notification', data: { channel: "customers", event: customers_event} do %>
  <%= render 'customers', customers: @customers %>
  <% end %>
</div>
<div class="smallbox">
  <div id='modal-box' class='modal fade'></div>
</div>

