<div class="container-fluid">
  <h1>Add new customer</h1>
    <ol class="breadcrumb">
      <li><%= link_to 'Customer', customers_path %></li>
      <li><%= link_to 'Index', customers_path %></li>
      <li class="active">New</li>
    </ol>

   <%= render 'form' %> 

