@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
div.box {
    margin-top: 30;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
}
div.smallbox {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
}
div.wrap {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
}
img.resize{
   width:50%;
   height:50%;
}
address.box
{
  margin-left: 50px;
}
.gray{
  color: gray;
}
.no-border{
  border: 0;
}
td.space {
  width: 90px;
}
div.wrap-table {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
}
.center{
  text-align: center;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.rightBox{
  text-align: right;
  margin-right: 50px;
}

.bs-docs-example 
{
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
 
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.verticalLine {
    border-left: thick solid #ff0000;
}
.aqua{
  color: #0080ff;
}
.orange{
  color: #f14444
}
nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-findcond a { color: #0080ff; }
nav.navbar-findcond ul.navbar-nav a { color: #0080ff; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #0080ff; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #0080ff; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #0080ff; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #0080ff; color: #fff; }
nav.navbar-findcond span.badge { background: #0080ff; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }


div.customer {
  border: 1px solid #eeeeee;
  padding: 0px;
  margin: 10px;
}

div.name-tag {
  background: #eeeeee;
  padding: 5px;

}

div.detail {
  padding-left: 5px;
}

div.placeholder {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

h1 {
  margin-bottom: 30px;
}

footer {
  border-top: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
}




