@import "bootstrap-sprockets";
@import "bootstrap";

div.box {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
}
div.smallbox {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;
}
div.wrap {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 50px;
}
img.resize{
   width:50%;
   height:50%;
}
address.box
{
  margin-left: 50px;
}
.gray{
  color: gray;
}
.no-border{
  border: 0;
}
td.space {
  width: 90px;
}
div.wrap-table {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
}
.center{
  text-align: center;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.rightBox{
  text-align: right;
  margin-right: 50px;
}
.bs-docs-example 
{
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
 
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

